<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
	<settings>
		<setting name = "mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.prac.spring.member.model.vo.Member" alias="MEMBER"/>
		<typeAlias type="com.prac.spring.board.model.vo.Board" alias="board"/>
	</typeAliases>
	




	<mappers>
		<mapper resource="mybatis/mapper/member/MemberMapper.xml"/>
		<mapper resource="mybatis/mapper/board/BoardMapper.xml"/>
	</mappers>
	
	
	
	
	
  </configuration>