<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="com.prac.spring.board.model.repository.BoardRepository">
    
    
    
    <select id="selectAllList" resultType="board">
    	SELECT BD_IDX, TITLE, CONTENT, APPLY_DATE
    		FROM ( SELECT ROWNUM RNUM, b.*
		    		   FROM(
		    		   		SELECT BD_IDX, TITLE, CONTENT, APPLY_DATE
		    		   			FROM M_BOARD ORDER BY BD_IDX DESC
		    		   ) b
	    		) WHERE RNUM BETWEEN ${startRow} and ${endRow}
    </select>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </mapper>