<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.windfall.cereal.mappers.likeBoardMapper">

	<insert id="insertLike" parameterType="likeVO">
		INSERT INTO likeBoard(boardSeq, memberSeq, likeCheck) 
			VALUES(#{boardSeq}, #{memberSeq}, #{likeCheck});
	</insert>
	
	<select id="selectLikeCheck" resultType="likeVO" parameterType="likeVO">
		SELECT * 
			FROM likeBoard 
			WHERE boardSeq = #{boardSeq} 
			AND MemberSeq = #{memberSeq}
	</select>
	
	<select id="likeCount" resultType="int" parameterType="long">
		SELECT COUNT(*) 
			FROM likeBoard 
			WHERE boardSeq = #{baordSeq}; 
	</select>


</mapper>